{{define "head"}}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">

	<link rel="stylesheet" href="/assets/css/normalize.css">
	<link rel="stylesheet" href="/assets/css/main.css">
	
	<link rel="icon" href="/assets/favicon.png" type="image/png"/>

	<script src="/assets/table.js"></script>
	<title>Timeclock</title>
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="nav">
				<a class="nav__item {{if eq RequestPath "/work" }} nav__item-active{{end}}" href="/work">Work</a>	
				<a class="nav__item {{if eq RequestPath "/workers" }} nav__item-active{{end}}" href="/workers">Workers</a>
				<a class="nav__item {{if eq RequestPath "/projects" }} nav__item-active{{end}}" href="/projects">Projects</a>
			</div>
		</div>
	</div>
	<div class="container">
{{end}}

{{define "foot"}}
	</div>

	<div class="footer">
		<div class="container">
			
		</div>
	</div>
</body>
</html>
{{end}}