{{define "header"}}
<div id="header">
	<div class="container">
		<div class="row menu">
			<div class="menu-item active"><a href="/work">Work</a></div>
			<div class="menu-item"><a href="/work/submit">Submit</a></div>
		</div>
	</div>
</div>
{{end}}

{{define "head"}}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->

	<link rel="stylesheet" href="/assets/css/normalize.css">
	<link rel="stylesheet" href="/assets/css/skeleton.css">
	<link rel="stylesheet" href="/assets/css/main.css">
	
	<link rel="icon" href="/assets/favicon.png" type="image/png"/>
	<title>Timeclock</title>
</head>
<body>
	{{template "header"}}
	<div class="container">
{{end}}

{{define "footer"}}
	</div>

	<div id="footer">
		<div class="container">
			<div class="row"></div>
		</div>
	</div>
</body>
</html>
{{end}}