{{define "header"}}
<div id="header">
	<div class="limit-width">
		<div id="status">
			<span class="label">Working on </span><a href="/tracking/active" class="value working-on">15113 Welding</a>
			<a class="profile" href="#">Egon <span class="stats">40h</span></a>
			<div class="clear"></div>
		</div>
		<div class="menu">
			<a class="active" href="/tracking/project">Track</a>
			<a href="/worker/report">Day Report</a>
			<a href="/projects">Projects</a>
			<a href="/worker/review">Review</a>
			<a href="#">Daily Reports</a>
			<a href="/accountant">Weekly Reports</a>
			<div class="clear"></div>
		</div>
	</div>
</div>
{{end}}

{{define "head"}}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/assets/css/main.css">
	<title>Timeclock</title>
</head>
<body>
	{{template "header"}}
	<div class="limit-width content">
{{end}}

{{define "footer"}}
	</div>
</body>
</html>
{{end}}