<!DOCTYPE html>
<html>
<head>
	{{template "head"}}
	<title>Worker</title>
</head>
<body>
	{{template "header"}}
	<div class="limit-width">
		<h2>Review 15113: Upgrade of watering system</h2>

		<div class="label">12 may 2016 - 17 may 2016</div>
		<table>
			<tr>
				<td>John</td>
				<td>Welding</td>
				<td>4h</td>
			</tr>
			<tr>
				<td>Jimmy</td>
				<td>Welding</td>
				<td>7h</td>
			</tr>
			<tr>
				<td>John</td>
				<td>Welding</td>
				<td>4h</td>
			</tr>
			<tr>
				<td>John</td>
				<td>Welding</td>
				<td>4h</td>
			</tr>
			<tr>
				<td></td>
				<td>Total:</td>
				<td>19h</td>
			</tr>
			<tr>
				<td>[ISSUES]</td>
				<td>[PICS]</td>
			</tr>
			<tr><td colspan=100><textarea name="" id="" cols="30" rows="10"></textarea></td></tr>
			<tr>
				<td colspan=100><button style="float:left">Decline</button><button style="float:right">Accept</button></td>
			</tr>
		</table>

		<br>
		<div class="label">12 may 2016 - 17 may 2016</div>
		<table>
			<tr>
				<td>John</td>
				<td>Welding</td>
				<td>4h</td>
			</tr>
			<tr>
				<td>Jimmy</td>
				<td>Welding</td>
				<td>7h</td>
			</tr>
			<tr>
				<td>John</td>
				<td>Welding</td>
				<td>4h</td>
			</tr>
			<tr>
				<td>John</td>
				<td>Welding</td>
				<td>4h</td>
			</tr>
			<tr>
				<td>[ISSUES]</td>
				<td></td>
			</tr>
			<tr><td colspan=100><textarea name="" id="" cols="30" rows="10"></textarea></td></tr>
			<tr>
				<td colspan=100><button style="float:left">Decline</button><button style="float:right">Accept</button></td>
			</tr>
		</table>
	</div>
</body>
</html>