{{template "head" . }}

<h2>Track 15113: Upgrade of watering system</h2>

<div class="actions actions-fit">
	<div class="label">Activity:</div>
	<a class="active" href="#">welding</a>
	<a href="#">plumbing</a>
	<a href="#">plateworks</a>
	<div class="clear"></div>
</div>

<div>
	<div class="label">Custom activity:</div>
	<div class="action-block">
		<input type="text">
		<button>Start</button>
	</div>
</div>

<div class="actions actions-fit">
	<div class="label">Action:</div>
	<a href="#">add image</a>
	<a href="#">add comment</a>
	<a href="/worker">done for today</a>
	<div class="clear"></div>
</div>

<div>
	<div class="label">Report a problem:</div>
	<div class="action-block">
		<input type="text" placeholder="Problem description">
		<button>Report</button>
	</div>
</div>

<div>
	<div class="label">Description:</div>
	<div class="block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates sunt nesciunt fugiat ad fugit necessitatibus asperiores possimus sint qui, quaerat ducimus totam rem. Modi vitae ipsa optio amet veritatis suscipit.</div>
</div>

{{template "footer" . }}