{{template "head" . }}

<h2>Track {{.Project.ID}}: {{.Project.Caption}}</h2>

<div class="actions actions-fit">
	<div class="label">Activity:</div>
	{{range .ActivityNames}}
	<a class="" href="">{{.}}</a>
	{{end}}
	<div class="clear"></div>
</div>

<div>
	<div class="label">Custom activity:</div>
	<div class="action-block">
		<input type="text">
		<button>Start</button>
	</div>
</div>

<div class="actions actions-fit">
	<div class="label">Action:</div>
	<a href="#">add image</a>
	<a href="#">add comment</a>
	<a href="/worker">done for today</a>
	<div class="clear"></div>
</div>

<div>
	<div class="label">Report a problem:</div>
	<div class="action-block">
		<input type="text" placeholder="Problem description">
		<button>Report</button>
	</div>
</div>

<div>
	<div class="label">Description:</div>
	<div class="block">{{.Project.Description}}</div>
</div>

{{template "footer" . }}