{{template "head" . }}
{{with $data := . }}

<form method="post">
	{{ if $data.PostError }}
	<div class="error">{{$data.PostError}}</div>
	{{ end }}

	<input type="hidden" name="request-token" value="{{$data.RequestToken}}"/>

	<div class="actions actions-fit">
		{{range $activity := $data.Activities}}
			<button {{if (eq $activity $data.CurrentActivity)}}class="button-active" {{end}} type="submit" name="select-activity" value="{{$activity}}">{{$activity}}</button>
		{{end}}
		<button type="submit" name="select-activity" value="">Finish</button>
		<div class="clear"></div>
	</div>
</form>
{{end}}

{{template "footer" . }}