{{template "head" . }}

<h2>New project</h2>
<form id="add-new-project" action="" method="POST">
	<table>
		<tr>
			<td><label for="field-ID">ID:</label></td>
			<td><input type="text" id="field-ID" value=""></td>
		</tr>
		<tr>
			<td><label for="field-Caption">Caption:</label></td>
			<td><input type="text" id="field-Caption" value=""></td>
		</tr>
		<tr>
			<td><label for="field-Customer">Customer:</label></td>
			<td><select id="field-Customer">
				<option value="ACME">ACME</option>
				<option value="Plan9">Plan9</option>
			</select></td>
			<!-- <td><a href="#">Add</a></td> -->
		</tr>
		<tr>
			<td><label for="field-Description">Description:</label></td>
			<td><textarea type="text" id="field-Description" value="" cols=50 rows=5></textarea></td>
		</tr>
		<tr>
			<td><label for="field-Engineers">Engineers:</label></td>
			<td><select id="field-Engineers" multiple=true>
				<option value="0">John Smith</option>
				<option value="1">Mike Smith</option>
			</select></td>
			<!-- <td><a href="#">Add</a></td> -->
		</tr>
	</table>

	<div class="actions actions-fit">
		<input type="submit" value="Create">
		<div class="clear"></div>
	</div>
</form>

{{template "footer" . }}