/* Skeleton Additions */

.button.button-active,
button.button-active,
input[type="submit"].button-active,
input[type="reset"].button-active,
input[type="button"].button-active {
  background-color: #CFF9AA;
  border-color: #B8DD98; }

/* Header */

#header {
	background: #eee;
	box-shadow: inset 0 -1px 3px rgba(0,0,0,0.1);
	margin-bottom: 2em;
}

#header .menu {
}

#header .menu-item a {
	float: left;
	text-decoration: none;

	border-bottom: 4px solid transparent;
	padding: 0.5em 1em;

	text-transform: uppercase;

	color: #222;
}

#header .menu-item.active a {
	border-bottom: 4px solid #46A8FF;
}

.error {
	display: block;
	background: #fee;
	padding: 1em 1em;
	border: 1px solid #fcc;
}

/* .calendar */

.calendar {
	padding: 0.5em;
	text-align: center;
	border: 1px solid #ccc;
}

.calendar tr {
	color: #666;
}

.calendar th {
	color: #888;
	font-weight: normal;
}
.calendar td { padding: 0; }
.calendar th, .calendar td a {
	position: relative;
	text-align: center;
	padding: 0.5em 0.5em;
	height: 2em;
	width: 2em;
	line-height: 2em;
	font-weight: 300;
}
.calendar td a {
	display: block;
	color: inherit;
	font-weight: inherit;
	text-decoration: none;
}

.calendar tr.caption-row { border-bottom: 1px solid #ccc; }
.calendar tr.total-row   { border-top: 1px solid #ccc; }
.calendar td.total       { border-left: 1px solid #ccc; font-size: 0.8em; font-style: italic; }

.calendar tr.current-week {}
.calendar tr.current-week td { color: #000; font-weight: bold; }
.calendar td.submitted {
	background: #beffbd;
}
.calendar td.today {
	outline: 4px solid rgba(0,0,0,0.5);
}
.calendar td.todo {
	background: #ff4668;
}
.calendar td .badge {
	position: absolute;
	bottom: 0;
	right: 0;

	border-radius: 100%;

	font-size: 0.8em;
	font-style: italic;
	height: 1.3em;
	line-height: 1.3em;
	width: 1.3em;
}

/* .actions-fit describes list of elements dynamically sized */

.actions-fit {
	display: flex;
	flex-wrap: wrap;
}

.actions-fit > .button,
.actions-fit > button,
.actions-fit > input[type="submit"],
.actions-fit > input[type="reset"],
.actions-fit > input[type="button"]  {
	flex: 1;
}

@media (max-width: 400px) {
	.actions-fit {
		display: block;
	}

	.actions-fit > .button,
	.actions-fit > button,
	.actions-fit > input[type="submit"],
	.actions-fit > input[type="reset"],
	.actions-fit > input[type="button"]  {
		display: block;
		width: 100%;
	}
}