* {
	box-sizing: border-box;
}

.clear {
	float: none !important;
	clear: both !important;
	height: 0 !important;
	width: 0 !important;
}

.limit-width {
	padding: 0 0.5em;
	margin: 0 auto;
	max-width: 800px;
}

body, html {
	margin: 0;
	padding: 0;
	color: #333;

	font-family: RobotoDraft,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: 300;
	line-height: 1.3;
	letter-spacing: 0.02em;

	-ms-word-wrap: break-all;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

#header {
	background: #E0EBF5;
	padding: 0.25rem;
	box-shadow: 0 1px 4px 0 #E0EBF5;
	border-bottom: 1px solid #46A8FF;
}

#header .menu a {
	float: left;
	display: block;
	color: #333333;
	text-decoration: none;
	padding: 0.5rem 1rem;
	border-bottom: 1px solid transparent;
}

#header .menu a:hover {
	color: #3333ee;
	border-bottom: 1px solid #46A8FF;
}


.label {
	color: #888;
	font-size: 0.6em;
	font-style: italic;
}

.project {
	padding: 2rem 0;
}

.project .title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.project .info {
	margin-bottom: 1rem;
}

.project .info td {
	padding: 0 0.2rem;
}

.project .description {
	padding: 0.5rem 1rem;
	border: 1px solid #eee;
}

.day .date {
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}

.day .overview {
	padding: 0.5rem 0;
	margin-left: 2rem;
}

.day table {
	margin-bottom: 0.25rem;
}

.day table th, .day table td {
	text-align: left;
	padding: 0.25rem 0.5rem;
}

.day table tr:hover {
	background: #f8f8f8;
}