{{template "head" . }}
{{with $data := . }}

<form method="post">
	<input type="hidden" name="request-token" value="{{$data.RequestToken}}"/>

	<h1>Day Sheet</h1>

	{{ if $data.PostError }}
	<div class="error">{{$data.PostError}}</div>
	{{ end }}

	<table class="input-table">
		<colgroup>
			<col style="width:10%;">
			<col style="width:30%;">
		</colgroup>
		<tr>
			<th>Worker</th>
			<td><input type="text" value="Egon Elbre" readonly></td>
		</tr>
		<tr>
			<th>Date</th>
			<td><input type="text" value="2018-03-28" readonly></td>
		</tr>
		<tr>
			<th>Total Hours</th>
			<td><input type="text" value="30h" readonly></td>
		</tr>
		<tr>
			<th>Total Driven</th>
			<td><input type="text" value="55km" readonly></td>
		</tr>
	</table>

	<div class="separator"></div>

	<table class="input-table">
		<thead>
			<colgroup>
				<col style="width:30%;">
				<col style="width:30%;">
				<col style="width:4em;">
				<col style="width:2em;">
			</colgroup>  
			<tr>
				<th>Project</th>
				<th>Activity</th>
				<th>Amount</th>
				<th class="input-table__cell--noborder"></th>
			</tr>
		</thead>
		<tbody>
			{{ range $index, $activity := $data.Activities }}
			<tr>
				<td>
					<select name="Activities[{{$index}}].Project" type="text">
						<option value=""></option>
						{{range $project := $data.Projects}}
							<option value="{{$project.ID}}" {{if eq $project.ID $activity.Project}}selected{{end}}>[{{$project.ID}}] {{$project.Name}}</option>
						{{end}}
					</select>
				</td>
				<td>
					<select name="Activities[{{$index}}].Activity" type="text">
						<option value=""></option>
						{{range $value := $data.DefaultActivities}}
							<option value="{{$value}}" {{if eq $value $activity.Name}}selected{{end}}>{{$value}}</option>
						{{end}}
					</select>
				</td>
				<td>
					<input onchange="Table.RoundUpHours(event)" name="Activities[{{$index}}].Amount" 
						type="number" min="0" step="0.5" max="20"
						{{if $activity.Duration}}value="{{$activity.Duration.Hours}}"{{end}}>
				</td>
				<td class="input-table__cell--noborder">
					<button type="button" onclick="Table.ClearRow(event)" class="input-table__icon-button input-table__icon-button--negative" tabindex=-1 title="Clear">✖</button>
				</td>
			</tr>
			{{ end }}
		</tbody>
		<tfoot>
			<tr>
				<td class="input-table__cell--noborder"></td>
				<td class="input-table__cell--noborder"></td>
				<td class="input-table__cell--noborder"></td>
				<td class="input-table__cell--noborder">
					<button class="input-table__icon-button input-table__icon-button--positive" tabindex=-1 title="Add Row">✚</button>
				</td>
			</tr>
		</tfoot>
	</table>
	
	<div class="separator"></div>

	<input class="save-button" type="submit" value="Save">
</form>

{{end}}

{{template "foot" . }}