{{template "head" . }}
{{with $data := . }}

<form method="post">
	{{ if $data.PostError }}
	<div class="error">{{$data.PostError}}</div>
	{{ end }}
	<input type="hidden" name="request-token" value="{{$data.RequestToken}}"/>


	<div>
		<label><b>Summary</b></label><br>
		<table>
			{{ range $activity, $duration := $data.Summary.Durations }}
			<tr>
				<td>{{$activity}}</td>
				<td>{{$duration}}</td>
			</tr>
			{{end}}
		</table>
	</div>

	<button type="submit" name="submit" value="">Submit</button>
</form>

<div>
	<label><b>Log</b></label><br>
	<table>
		{{ range $activity := $data.Pending }}
		<tr>
			<td>{{$activity.Name}}</td>
			<td>{{$activity.Duration}}</td>
			<td>{{$activity.Start.Format "15:04:05"}}</td>
			<td>{{$activity.Finish.Format "15:04:05"}}</td>
		</tr>
		{{end}}
	</table>
</div>


{{end}}

{{template "footer" . }}