{{template "head" . }}
{{with $data := . }}

<form method="post">
	{{ if $data.PostError }}
	<div class="error">{{$data.PostError}}</div>
	{{ end }}

	<input type="hidden" name="request-token" value="{{$data.RequestToken}}"/>

	<label for="">Activity</label>
	<div class="actions actions-fit">
		{{range $activityName := $data.ActivityNames}}
			<button {{if (eq $activityName $data.CurrentActivity.Name)}}class="button-active" {{end}} type="submit" name="select-activity" value="{{$activityName}}">{{$activityName}}</button>
		{{end}}
		<button type="submit" name="select-activity" value="">Finish</button>
		<div class="clear"></div>
	</div>

	<label for="">Project</label>
	<div class="actions actions-fit">
		{{range $project := $data.Projects}}
			<button {{if (eq $project.ID $data.CurrentActivity.PID)}}class="button-active" {{end}} type="submit" name="select-activity" value="{{$project.ID}}">{{$project.Name}}: {{$project.ShortDescription}}</button>
		{{end}}
		<div class="clear"></div>
	</div>

</form>
{{end}}

{{template "footer" . }}